@import url(../styles/fonts.css);
@font-face {
    font-family: KPACUBO;
    src: url(../styles/fonts/bauhaus.otf);
}
@font-face {
    font-family: KPACUBO2;
    src: url(../styles/fonts/3846-font.ttf);
}
@font-face {
    font-family: KPACUBO3;
    src: url(../styles/fonts/Comfortaa-Bold.ttf);
}
@font-face {
    font-family: Kinopoisk;
    src: url(../styles/fonts/Graphik\ LC\ Web\ Bold\ Regular.woff2.ttf);
}
@font-face {
    font-family: Kinopoisk-thin;
    src: url(../styles/fonts/PTSans-Regular.ttf);
}
@font-face {
    font-family: Kinopoisk-thicker;
    src: url(../styles/fonts/PTSans-Bold.ttf);
}
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v140/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
  }