@import url(../styles/fonts.css);
main {
    display: flex;
    flex-direction: column;
    background-color: rgb(224,248,177);
    margin: -1vh 0vw -1vh 0vw;
}
.comedy-block{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 1vh 3vw 1vh 3vh;
    padding: min(4vh, 4vw);
    background-color: rgb(108,33,28);
    border-radius: 0.3em;
}
.comedy-block::after {
    width: 300px;
    background-color: rgb(224,248,177);
    height: 300px;
}
body {
    margin: 0px;
}
h1 {
    font-family: Kinopoisk;
    color: rgb(224,248,177);
}
h2 {
    font-family: Kinopoisk;
    color: rgb(224,248,177);
}
.comedy-description {
    display: flex;
    flex-direction: row;
    max-width: 90%;
}
.simple-text {
    font-family: Kinopoisk-thicker;
    font-size: 18px;
    color:rgb(224,248,177);
    width: 80%;
}
.comedy-text-description {
    width: min-content;
    display: flex;
    flex-direction: column;
}
.photo-gal {
    border-radius: 0.5em;
    transition: transform 0.3s ease-in-out;
    background-size: cover;
    background-position: center;
    min-width: 15rem;
    height: 20rem;
    padding: 1rem;
    margin-left: 1em;
    position: relative;
}
.photo-gal:hover {
    transform: scale(1.05);
}
.main-img {
    aspect-ratio: 3/4; 
    max-height: 50vh; 
    margin-left: 3vw; 
    margin-right: 3vw;
}
@media (max-width: 1280px) {
    .comedy-description {
        flex-direction: column;
    }
    .main-img {
        max-height:fit-content;
    }
}